/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* ---- particles.js container ---- */

$size_floating_btn: 40px;
$white: #FFFFFF;

@keyframes btn_ir_arriba_animation {
	from {

  		width: size_floating_btn;
  		height: size_floating_btn;
	}
  	to {
  		width: 1px;
  		height: 1px;
  	}
}

#particles-js{
  width: 100vw;
  height: 35vh;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#btn-ir-arriba{
	position: fixed; 
	bottom: 25px; 
	right: 25px;
}

@media only screen and (max-width: 800px) {
  #logo-container{
    font-size: 0.8em;
  }
}